---
name: Fraud Detection and Biometric Verification
tools: [Pytorch, Python, Tensorboard]
image: assets/images/biometric.jpg
description: Final year project for undergraduate degree in computer science. I used few shot learning and a combination of classical machine learning techniques to develop a novel solution to
            verify signatures, periocular regions and finger prints. This project was inspired by COVID-19 when masks were commonly worn as a result facial recognition systems were not working as intended.
external_url: https://arxiv.org/abs/2211.06761
---