---
name: Fraud Detection and Biometric Verification
tools: [Pytorch, Python, Tensorboard]
image: /assets/images/biometric.jpg
description: Final year project for bachelors degree in computer science.
external_url: https://arxiv.org/abs/2211.06761
---