<!-- <div class="col mt-4">
  <div class="timeline-body bg-themed">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="content">
          <h2>{{ item.title }}</h2>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <p>{{ item.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div> -->

<div class="col mt-4">
  <div class="timeline-body bg-themed">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="content">
          <h2>{{ item.title }}</h2>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <p class="description" style="display: none;">{{ item.description }}</p>
          <button class="see-more-btn" style="background-color: transparent; border: none; color: inherit; cursor: pointer; font-family: inherit; font-size: 16px; padding: 5px; text-align: left; text-decoration: underline;">See More</button>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
